#readHere{
	height: 100vh;
	width: 100%;
}

.slider-section{
	position: relative;
	overflow: hidden;
}

.slider-section .container{
	background: #000;
}


.slider-section::before{
	content: '';
	background: url(../../assets/images/bg.jpeg);
	background-size: 100%;
	filter: blur(3px);
  -webkit-filter: blur(3px);
	opacity: 0.45;
	background-position: center;
	position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      transform: scale(1.1);
      
}

.video-section{
	position: relative;
	overflow: hidden;
}

.video-section::before{
	content: '';
	background: url(../../dist/images/bg2.jpg);
	background-size: 100%;
	filter: blur(3px);
  -webkit-filter: blur(3px);
	opacity: 0.45;
	background-position: center;
	position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      transform: scale(1.1);
      
}

/*.post-entry img{

	width: 100%!important;
}*/

.current_edition > *{
	z-index: 2;
}

.current_edition a{
	color: #fff;
}

.current_edition img{
	border: 2px solid #fff;
}

.current_edition::before{
	content: '';
	/*opacity: 0.45;*/
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 1;
	background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 61%);
}

.current_edition{

	position: relative;
	/*padding: 25px 0;*/
}

.current_edition{
	height: 100%;
	display: flex;
}

.current_edition img{
	width: 60%;
  object-fit: contain;
}

.current_edition .current_edition_wrapper{
	align-self: center;
	display: flex;
	flex-direction: column;
}

.background-custom-slider{
	background-color: #6b4a18;
}

.laporan-utama-cart img{
	width: 350px!important;
}

.news-label{
	display: inline-block;
    background: #b56c00;
    padding: 0 10px;
    color: #fff;
    margin-bottom: 8px;
}

.news-rubic img{
	width: 100%;
}

.text-single-header{
	font-size: 26px;
	margin: 0;
}

.container-collection h3{
	font-size: 14px!important;
}

.feature-row i{
	font-size: 56px;
	margin-bottom: 10px;
	color: #ec9900!important;
}

.background-features{
	background: rgb(255,239,128);
background: linear-gradient(39deg, rgba(255,239,128,0.7819502801120448) 0%, rgba(255,248,190,1) 100%);
}

span.page-link{
	padding: 0;
	border: 0;
}

.page-link a {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #ddd;
}